$bg-color: #222222;
$clock_color: #29292d;
$heading_color: #1e90ff;
$number_color: #2dcece;
$shadow: #00010b;
@mixin display($justify, $aling: center, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
}

@mixin radius($params...) {
    border-radius: $params;
}

@mixin Bx-shadow($params...) {
    box-shadow: $params;
}

@mixin text-shadow($params...) {
    text-shadow: $params;
}

@mixin coordins($width, $height) {
    width: $width;
    height: $height;
}